.portal-sidebar {
  width: 250px !important;

  mat-nav-list {
    display: flex !important;
    flex-direction: column;
    gap: 4px;

    .nav-link-active {
      mat-icon,
      a {
        color: #13e7d9 !important;
      }
      background-color: #f7f7fb !important;
      border-right: 5px solid #13e7d9;
    }

    .img-logo {
      width: 155px;
      height: 59px;
      margin: 0 auto 25px auto;
    }

    mat-list-item.logout-btn {
      margin-top: auto;
    }
  }

  mat-list-item {
    height: unset !important;
    padding: 8px !important;

    ::ng-deep .mat-mdc-list-item-unscoped-content {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.portal-sidenav-content {
  margin-left: 250px !important;
}

.portal-navbar.mat-toolbar-row,
.portal-navbar.mat-toolbar-single-row {
  height: 60px;
  background-color: var(--white);
}

::ng-deep .mat-list .mat-list-item .mat-line {
  word-wrap: break-word;
  white-space: pre-wrap;
}

::ng-deep .mat-list .mat-list-item {
  height: initial !important;
}
