<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div
    class="w-full w-[30rem] p-8 bg-white rounded-lg shadow-lg border border-gray-200"
  >
    <div class="mb-10">
      <p class="font-bold text-center text-[32px] text-black">
        Welcome to Discart.
      </p>
    </div>

    <app-login-form [loginFormGroup]="loginFormGroup"></app-login-form>

    <div class="text-center mt-4">
      <p class="text-sm text-gray-500">
        Don't have an account?
        <a class="text-blue-500 hover:underline" href="mailto:"
          >Contact an administrator</a
        >
      </p>
    </div>
  </div>
</div>
