.editBtn {
  color: #008000;
}

.deleteBtn {
  color: #ff0000;
}

.bgTableHeader {
  background-color: #13e7d9 !important;
  color: #000 !important;
  border-bottom: 1px solid #a7a7a7 !important;
}

// table
table {
  width: 100% !important;
  border-collapse: collapse !important;
  border-radius: 8px 8px 0 0 !important;
  overflow: hidden !important;
}

mat-paginator {
  border-radius: 0 0 8px 8px !important;
}
